# MELCloud package defaults
# Exported variables are required so modconf can persist form values.

export MELCLOUD_ENABLED='no'
export MELCLOUD_EMAIL=''
export MELCLOUD_PASSWORD=''
export MELCLOUD_CONTEXT_KEY=''
export MELCLOUD_BASE_URL='https://app.melcloud.com/Mitsubishi.Wifi.Client'
export MELCLOUD_APP_VERSION='1.34.13.0'
export MELCLOUD_LANGUAGE='0'
export MELCLOUD_POLL_SECONDS='60'

# Runtime files used by CLI/CGI GUI.
export MELCLOUD_HOME_FILE='/tmp/flash/melcloud/home.json'
export MELCLOUD_TEMPLATE_DIR='/tmp/flash/melcloud/templates'
