# MiniUPnPd default config for freetz-ng (CGI package)
# Exported variables are required so modconf can persist form values.

export MINIUPNPD_ENABLED='no'
export MINIUPNPD_WAN_IF='eth1'
export MINIUPNPD_LAN_IF='192.168.0.1/24'
export MINIUPNPD_SECURE_MODE='yes'
export MINIUPNPD_NOTIFY_INTERVAL='900'
export MINIUPNPD_CLEAN_INTERVAL='600'
export MINIUPNPD_ENABLE_UPNP='yes'
export MINIUPNPD_ENABLE_PCP_PMP='yes'
