export SHAIRPORT_SYNC_ENABLED='no'
export SHAIRPORT_SYNC_NAME='%H'
export SHAIRPORT_SYNC_PASSWORD=''
# Leave empty to advertise on all non-loopback interfaces.
export SHAIRPORT_SYNC_INTERFACE=''
export SHAIRPORT_SYNC_OUTPUT_DEVICE='default'
export SHAIRPORT_SYNC_OUTPUT_FORMAT=''
export SHAIRPORT_SYNC_OUTPUT_RATE=''
export SHAIRPORT_SYNC_MIXER_CONTROL_NAME=''
export SHAIRPORT_SYNC_MIXER_DEVICE=''
export SHAIRPORT_SYNC_INTERPOLATION='basic'
export SHAIRPORT_SYNC_IGNORE_VOLUME_CONTROL='no'
export SHAIRPORT_SYNC_STATISTICS='no'
export SHAIRPORT_SYNC_LOG_VERBOSITY='0'