export SHAIRPORT_SYNC_ENABLED='no'
export SHAIRPORT_SYNC_NAME='%H'
export SHAIRPORT_SYNC_PASSWORD=''
# Leave empty to advertise on all non-loopback interfaces.
export SHAIRPORT_SYNC_INTERFACE=''
# USB-audio friendly defaults. They can still be overridden from the web UI.
export SHAIRPORT_SYNC_OUTPUT_DEVICE='plughw:0,0'
export SHAIRPORT_SYNC_OUTPUT_FORMAT='S16'
export SHAIRPORT_SYNC_OUTPUT_RATE='44100'
export SHAIRPORT_SYNC_MIXER_CONTROL_NAME='PCM'
export SHAIRPORT_SYNC_MIXER_DEVICE=''
export SHAIRPORT_SYNC_INTERPOLATION='basic'
export SHAIRPORT_SYNC_IGNORE_VOLUME_CONTROL='no'
export SHAIRPORT_SYNC_STATISTICS='no'
export SHAIRPORT_SYNC_LOG_VERBOSITY='1'